[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.11.1"
certifi = "==2026.5.20"
charset-normalizer = "==3.4.7"
django = "==6.0.5"
django-cors-headers = "==4.9.0"
django-filter = "==25.2"
djangorestframework = "==3.17.1"
idna = "==3.16"
pillow = "==12.2.0"
requests = "==2.34.2"
sqlparse = "==0.5.5"
tzdata = "==2026.2"
urllib3 = "==2.7.0"
djangorestframework-simplejwt = "*"
transliterate = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.14"
